<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">Deadlock Demo</h1>
        <p><a href="/api/values" class="btn btn-primary btn-md">Show Deadlock</a></p>
    </section>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">Good Demo</h1>
        <p><a href="/api/values/1" class="btn btn-primary btn-md">Show Good</a></p>
    </section>
</main>